html {
    font-size: 62.5%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc-container {
    width: 75%;
    min-height: 80vh;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 1);
}

.calc {
    width: 50%;
    margin: 2rem auto;
    display: grid;
    grid-template-rows: 10rem repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 1);
    justify-items: center;
}

.calc-display {
    grid-column: 1 / -1;
    background-color: rgb(29, 29, 29);
    width: 100%;
    color: white;
    font-size: 5rem;
}

.btn {
    font-size: 5rem;
    border: 1px solid black;
    color: white;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.btn-op {
    background-color: orange;
}

.btn-num {
    background-color: darkblue;
}

.btn-equals {
    background-color: green;
}

.btn-clear {
    background-color: red;
}